body {
	text-align: center;
	color: #F13B57;
	height: 100vh
}

.site-wrap {
	background-color: #fcd9de;
}

.title {
	color: #F13B57;
}

header {
	margin-bottom: 100px;
}

.navbar {
	display: flex;
    align-items: center;
    justify-content: space-around;
    border-bottom: 1px solid;
}

.sticky {
  position: fixed;
  top: 0;
  width: 100%;
}

.button {
	background-color: #F13B57;
	color: #fcd9de;
	margin: 2px;
}

.nav-item-wrap {
	display: flex;
}

.navbar-brand {
	padding: 15px;
}

.menuWrap {
	display: flex;
	flex-wrap: wrap;
	flex-direction: column;
}

ul {
	list-style-type: none;
	padding: 5px;
}

.flavor-title {
	padding: 25px;
}

.description-wrap {
	font-size: small;
    padding: 10px;
    font-style: italic;
}

span {
	font-size: small;
	font-style: italic;
}

.underline {
	border-bottom: 1px dotted #F13B57;
}

.cake-section {
	padding-top: 250px;
}

.cookie-section {
	padding-top: 100px;
	padding-bottom: 25px;
}

.bold {
	font-weight: bold;
}

.black {
	color: black;
}

.email:link {
	color: #d8354e;
}

.footer {
	background-color: #3b3b3b;
	color: whitesmoke;
}
/*----------MEDIA QUERIES-----------------------------------------------------*/

@media (min-width: 1020px) {
	.navbar {
		justify-content: space-between;
	}

	.menuWrap {
		flex-direction: row;
	}

	.flavorCont {
		min-width: 50vw;
	}
}